.aboutus-student-container{
    
    .card-head{
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 10px;
        padding-top: 30px;
        padding-right: 20px;
    
    
        .card-head-info{
            text-align: right;
            p{
                &:first-child{
                    font-family: "regular";
                    font-weight: 400;
                    font-size: 16px;
                    text-align: right;
                    text-transform: capitalize;
                    
             
    
                }
                &:last-child{
                    color: #8C8896;
                    font-family: "regular";
                    font-weight: 400;
                    font-size: 14px;
                    text-align: right;
                    text-transform: capitalize;
                    
                 
                }
            }
        }
    
    
        img{
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
    
    }
    .card{
        
       
        .card-body{
            p{
                color: #6F777B;
                text-align: right;
                font-family: "regular";
                font-weight: 400;
                font-size: 16px;
                text-align: right;
                text-transform: capitalize
            }
        }

        @media(max-width:800px){
            flex-direction: column;
        }
    }

    .quote-icon{
        position: relative;
        top: 12px;
        left: 20px;
    }

}