
.aboutus-vision-conatiner{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    @media (max-width:800px) {
        flex-direction: column;
        align-items: center;
        gap: 60px;
    }
  
    .aboutus-text-container{
      display: flex;
      flex-direction: column;
      gap: 20px;
  
  
      .aboutus-text{
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 5px;
  
        .aboutus-text-header{
          display: flex;
          align-items: center;
          gap:3px;
        }
  
        P{
          text-align: right;
          color: #6F777B;
          font-size: 16px;
          width: 82%;
  
          &.secondary-text{
            color: #7C8A99;
          }
        }
      }
    }
  
  
    .aboutus-vid-container{
        position: relative;
    
            .aboutus-vid{
                width: 300px;
                height: 300px;
                border-radius: 50%;
                overflow: hidden;
                position: relative;
                z-index: 10;
            
            video{
                width: 100%;
                height: 100%;
                object-fit: cover;
            
            }
        }
        .right-circle{
            position: absolute;
            top:0;
            right: 0;
            z-index: 0;
          }
          .left-circle{
            position: absolute;
            top:100%;
            transform: translateY(-80%);
            left: 10px;
            z-index: 2;
          }
          
    }
  
  }
  