.footer-container{
    background-color: #f3f3f3;
    padding: 20px;
    color: #333;
    font-size: 1.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    // gap: 20px;

    @media (max-width:470px) {
        grid-template-columns: 1fr 1fr ;
        justify-items: end;
        gap: 20px;
      }
    @media (max-width:400px) {
        grid-template-columns: 1fr ;
        justify-items: end;
        gap: 20px;
      }
    justify-items: center;
    // align-items: center;
    text-align: end;
    padding-left:30px;
    padding-right:30px;

    .col{
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 40px;
        // justify-content: space-between;
        .col-title{
            position:relative;
            font-family: "bold";
            &::after{
                content: '';
                position:absolute;
                right: 0;
                top:100%;
                width: 80px;
                height: 4px;
                border-radius: 5px;
                background-image:linear-gradient(to right, #049DBF, #2525AD);
                margin-top: 15px ;
            }
        }
        .col-description{
                display: flex;
                flex-direction: column;
                gap: 20px;
                margin-top: 10px;
                align-items:end;
                font-size:15px;

                .col-details{
                    display:flex;
                    align-items:center;
                    justify-content: center ;
                    gap:10px;
                    font-size:15px;
                    
                }
            }

            .col-data-details{
                    display:flex;
                    flex-direction: column;
                    align-items:end;
                    justify-content: end ;
                    gap:20px;
                    font-size:15px;
                    
                    .col-icons{
                        display:flex;
                        gap:10px;
                    }
                }

        .col-logo{
            max-width: 100px;
            margin-left:auto;
            margin-right:15px;
      
        }
    }


    
}