

.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  margin: 0;
  padding: 0;
  
  .header-nav{
    width: 100%;
    background-color:#061147 ;
    padding: 10px;
  }
  .header-title{
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    width: fit-content;
    color: white;
    text-align: center;
    font-family: "regular";
  }

  .header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: #ffffff;
    
    .side-menu{
      display: none;
      position: relative;
      @media (max-width:768px) {
        display: block;
      }
      .bars-icon{
        cursor: pointer;

      }
  
      .droplist-menu{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        background-color: white;
        top: 100%;
        left: 0;
        z-index: 20;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        width:120px;
         @media (min-width:768px) {
            display: none;
        }

        .list{
          margin-left: auto;
        }

        li{
          text-align: right;
          font-size: 15px;
        }
      }
    }



    
      .nav-links{
        display: flex;
        gap:20px;
        @media (max-width:768px) {
          display: none;
        }
        .nav-link{
          font-size: 18px;
          color: #565E68;
          font-family: "regular";

          &.active{
            color: #2525AD;
          }

        }

      }

      .buttons{
        display: flex;
        gap: 10px;
         @media (max-width:768px) {
          display: none;
        }
      }
                        

  }

}

