.main-layout{
    display: flex;
    flex-direction: column;
  
    .profile-home-layout{
      margin-top: 50px;
      width: 100%;
      text-align: right;
      display: grid;
      gap: 10px;
      grid-template-columns: 85% 15% ;
  
      .sidebar-layout{
        margin-top: 10px;
        margin-right: 10px;
        order: 2;
        grid-column: span 1;
        margin-right: 20px;
        height: 100%;
      }
  
      .slot-layout{
        order: 1;
        grid-column: span 1;
      }
    }
  
  }
  