.course-video-container{
    // width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    padding: 0 25px;
    transition: all 0.3s ease-in-out;
    img{
        margin-left: auto;
        margin-right: auto;
    }
}

.course-video-text{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 25px;
    padding: 0 25px;
    transition: all 0.3s ease-in-out;


    .course-video-text-title{
        font-weight: 600;
        font-size: 17px;
    }

    hr{
        border: 1px solid #D38911;
        width: 100%;
        margin-top: 10px;
    }

    .course-video-text-description{
        color: #959B9D;
        text-align: right;
        padding-top: 15px;
        padding-bottom: 20px;
    }

}