.course-tabs{
    width: 100%;
    position: relative;
    background-color: #F6F6F6;
    margin-top: 20px;
    margin-bottom: 20px;


    .right-dots{
        position: absolute;
        left: -100px;
        top: 10px;
        height: 200px;
        transform: scaleX(-1);
    }

    .left-dots{
        position: absolute;
        right: -100px;
        top: 10px;
        height: 200px;
    }


    .tabs-container{
        width: 100%;
        padding-top: 25px;

        hr{
            width: 70%;
            border-color: #FFB9494D;
            margin-left: auto;
            margin-right: auto;
        }

        .tabs-header{
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 20px;
            
            .tab-title{
                display: flex;
                align-items: center;
                gap: 10px;
                padding-bottom: 10px;
                cursor: pointer;

                &.active-tab{

                    border-bottom: 2px solid #FF931E;
                }
            }
        }  
        
        
        .tabs-content{
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            padding-bottom: 30px;
          
            
        }
    }

}