.homework-card{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-family: "regular";


    .panels{
        margin-top: 10px;
        background-color: transparent;
    
            &.p-accordionpanel-active{

                .p-accordionheader{
                    border: none;
                }

            }


            // .p-accordionpanel:first-child > .p-accordionheader
            &:first-child {
                &>.p-accordionheader{
                    border: none;
                }
            }





        

        .p-accordionheader {
            background-color: transparent;
            border: 1px solid black;
            border-radius: 10px;
            color: black;
        }

        .panel-header{
            display: flex;
                flex-direction: row-reverse;


            .panel-header-container{

                display: flex;
                flex-direction: column;
                gap: 10px;

                .homework-title{
                    text-align: end;
                }

                .homework-content{
                    display: flex;
                    gap: 20px;
                    justify-content: center;
                    .homework-date{
                        display: flex;
                        align-items: center;
                        font-size: 13px;
                        gap: 5px;
                        
                        .clock-icon{
                            width: 13px;
                        }
                    }
                }
            }
            }

            .p-accordioncontent{
                border-radius: 10px;
                margin-top: 10px;
            }

            .homework-attachments{
                display: flex;
                gap: 5px;
                justify-content: center;
                overflow: hidden;
                font-family: "regular";
                img{
                    width: 150px;
                    border-radius: 10px;
                    padding-top: 20px;

                }
            }

            .homework-content-container{
                padding: 10px;
                width: 100%;
                text-align: end;
                display: flex;
                flex-direction: column;
                font-family: "regular";

                .homework-content-title{
                    padding: 5px;
                    // border-bottom: 1px solid #DDE1E6;
                    font-family: "medium";
                }

                .homework-content-subtitle{
                    padding: 5px;
                    border-bottom: 1px solid #DDE1E6;
                    font-family: "regular";
                }
            }

            .homework-hr{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 10px;
                .homework-right-hr{
                    width: 100%;
                    border: none;
                    height: 2px;
                    background-image: linear-gradient(to left, #FFB949 , #FFFFFF );
                }
                .homework-left-hr{
                    width: 100%;
                    border: none;
                    height: 2px;
                    background-image: linear-gradient(to right, #FFB949 , #FFFFFF );
                }
            }
            .homework-upload{
                padding: 10px;
                .homework-upload-title{
                    text-align: end;
                    font-family: "medium";
                }

                .add-media{
                    margin-top: 10px;
                    display: flex;
                    flex-direction: column;
                    background-color: transparent;
                }
                .notes-input{
                    border-radius: 10px;
                    border: 1px solid #DDE1E6;
                    padding: 10px;
                    margin-top: 10px;
                    text-align: right;
                    &:focus{
                        border-color: #DDE1E6;
                        outline-color: #DDE1E6;
                    }
                }
            }

            .btn-container{
                width: 100%;
                display: flex;
                justify-content: flex-start;
                .submit-image{
                    background-color: #FFB949;
                    color: white;
                    width: 40%;
                    padding: 10px;
                    font-size: 16px;
                    border-radius: 10px;
                }
            }
    }
}