


// .form{
//     width: 50%;
//     margin-left: auto;
//     margin-right: auto;
//     display: grid;
//     grid-template-columns: 1fr 1fr;

//     .questions{
//         .question{
//             &.question-choose{
//                 width: 90%;
//                     label{
//                         text-align: center;
//                     }
//                 }
//             }
//     }
// } 

.question-text-complete{

    .complete{
        width: 60px;
        border: none;
        outline: none;
    }
}

.question-container{
    width: 100%;
    height: 700px;


    .question-title{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        img{
            width: 120px;
            height: 120px;
            // border: 1px solid black;
            border-radius: 10px;
        }

        .aduio-image{
            width: 50%;
            height: auto;
        }

        .question-number{
            margin-left: auto;
            margin-right: auto;
            width: fit-content;
            padding: 10px 40px;
            font-size: 19px;
            border-radius: 10px;
            text-align: center;
            background-image: linear-gradient(to top,#ffb94954 30%,#ffffff8d 80%);
            margin-top: 20px;
        }

        .question-text{
            font-size: 25px;
        }

    }

    .questions{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 10px;
        margin-top: 15px;


        &.questions-image{
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            display: grid;
            grid-template-columns: repeat(2 , 1fr);
            align-content: center;
            justify-items: center;
            .question{
    
                img{
                    border: 1px solid black;
                    width: 160px;
                    height: 120px;
                    border-radius: 12px;
                    cursor: pointer;
    
                    &.selected{
                        border:5px dashed ;
                        border-color: #FFB949;
                    }
                }
            }
        }
        

        .question{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50%;

       
    

            label{
                width: 100%;
                text-align: right;
                border: 1px solid #DDE1E6;
                padding: 15px;
                border-radius: 10px;
                direction: rtl;
                cursor: pointer;

                &.correct{
                    color: #6F777B;
                }
                
                
                &.selected{
                    background-color: #ffb94917;
                    border-color: #FFB949;
                }
            }

            &.question-choose{
                label{
                    // padding: 10px 30px;
                    &.selected{
                        background: none;
                        border-color: #FFB949;
                        position: relative;

                        &::before{
                            content: '';
                            position: absolute;
                            background-color:#FFB949 ;
                            top: 0px;
                            left: 0px;
                            width: 20px;
                            height: 20px;
                            border-radius: 5px 0px;
                        }
                        
                    }
                }
            }


            input{
                display: none;
            }
        }
    }

  

    .next-btn{
        display: flex;

        button{
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
            background-color: #FFB949;
            color: white;
            font-size: 20px;
            font-weight: 500;
            padding: 10px 40px;
            border-radius: 15px;
            width: 50%;

       

        }
    }


    .btns{

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        button{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            width: 25%;
            margin-top: 20px;
            background-color: #FFB949;
            color: white;
            font-size: 20px;
            font-weight: 500;
            padding: 15px 40px;
            border-radius: 15px;
        }
    }


}
