.banner{
    display: flex;
    justify-content: end;
    align-items: center;
    background-image: linear-gradient(to left , #032855 , #0328550d  );
    padding: 12px;
    

    position: relative;

    .logo{
        position: absolute;
        left: 0;
        opacity: 0.2;
        height: 100%;
        
    }

    .banner-list{
        display: flex;
        gap: 10px;
        padding: 10px 10px;
        flex-direction: row-reverse;
        
        .banner-item{
            display: flex;
            color: #FFFFFF;
            font-family: 'regular';
            align-items: center;
            gap: 10px;
            flex-direction: row-reverse;
            cursor: pointer;
            .arrow-icon{
                width: 12px;
            }
        }
    }
}