.btn-add{
      background-color: #0B1741;
      color: var(--white-color);
      border-radius: var(--radius-sm);
      display: flex;
      align-items: center;
      justify-content: center;
      gap: var(--space-sm);
      transition: 0.7s ease-in-out;
      cursor: pointer;
      text-transform: capitalize;
    
      &:disabled {
        background-color: transparent;
        cursor: not-allowed;
        color: var(--primary-color);
        transition: 0.7s ease-in-out;
      }
      svg {
        path {
          transition: 0.7s ease-in-out;
        }
      }
      &:hover {
        background-color: transparent;
        color: var(--primary-color);
        transition: 0.7s ease-in-out;
        border: 1px solid #DDE2ED;
        color: #3D4C5E;
        text-transform: capitalize;

      }
    }