.btn-third {
  background-color: var(--third-color);
  //   border: 1px solid var(--primary-color);
  color: var(--white-color);
  border-radius: var(--radius-sm);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-sm);
  transition: 0.7s ease-in-out;
  font-family: "regular", sans-serif;
  cursor: pointer;
}
