.home {
  .container {
    padding: 1rem;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  @media screen and (max-width: 768px) {
    .cards {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  @media screen and (min-width: 1280px) {
    .cards {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .item {
    padding: 1rem;
    background-color: #fff;
    border-radius: 10px;

    .headerCard {
      display: flex;
      align-items: start;
      justify-content: space-between;
      .total {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        p {
          color: #202224;
          font-size: 1rem;
          font-weight: 600;
        }
        .number {
          font-weight: bold;
          font-size: 1.5rem;
          color: #202224;
        }
      }
    }
    .lamp {
      background-color: rgba(130, 128, 255, 21%);

      padding: 1rem;
      border-radius: 30%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .zoom {
      background-color: rgba(30, 58, 142, 21%);

      padding: 1rem;
      border-radius: 30%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .Timer {
      background-color: rgba(74, 217, 145, 0.21);

      padding: 1rem;
      border-radius: 30%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .TickCircle {
      background-color: rgba(44, 175, 35, 0.21);

      padding: 1rem;
      border-radius: 30%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .hold {
      background-color: rgba(255, 193, 7, 0.21);
      padding: 1rem;
      border-radius: 30%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .canceled {
      background-color: rgba(255, 0, 0, 0.21);

      padding: 1rem;
      border-radius: 30%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .People {
      background-color: rgba(48, 66, 105, 0.21);

      padding: 1rem;
      border-radius: 30%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .userCirlceAdd {
      background-color: rgba(130, 128, 255, 0.21);

      padding: 1rem;
      border-radius: 30%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .ProfileUser {
      background-color: rgba(40, 40, 40, 0.21);

      padding: 1rem;
      border-radius: 30%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .ProfileUser2 {
      background-color: rgba(216, 216, 216, 0.21);

      padding: 1rem;
      border-radius: 30%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .cardChart {
    background-color: #fff;
    padding: 1rem;
    p {
      font-size: 1.5rem;
      font-weight: 600;
      color: #202224;
    }
  }
}
