.radio-wrapper {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  label {
    font-family: "regular", sans-serif;
    font-size: var(--sm-size);
    margin-bottom: 0;
  }
  input {
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    width: 15px;
    height: 15px;
    border: 2px solid var(--line-color);
    border-radius: 50%;
    background-color: var(--white-color);
    position: relative;
    transition: all 0.2s ease;
    &:checked {
      border-color: var(--white-color);
      background-color: var(--white-color);
      border: 4px solid var(--primary-color);
    }
    &:hover {
      border-color: var(--primary-color);
    }
  }
}
