.input-select {
  display: grid;
  position: relative;
  gap: var(--gap-xs);
  .p-select-label,
  .p-multiselect-label {
    display: flex;
    align-items: center;
    padding: 0.8rem;
    background-color: var(--input-bg);
    transition: all var(--transition-sm) ease-in-out;
    color: var(--placeholder-input) !important;
    font-family: "regular", serif;
    font-size: 0.9rem;
  }

  .p-select-dropdown,
  .p-multiselect-dropdown {
    padding: clamp(
      var(--space-sm),
      15 / var(--base-height) * 100vh,
      var(--space-md)
    );
    background-color: var(--input-bg);
    border: 1px solid var(--stroke-color) ;
    transition: all var(--transition-sm) ease-in-out;
    &:lang(en) {
      right: -0.4rem !important;
      position: absolute !important;
      font-size: 7rem !important;
      top: 1.3px !important;
    }
  }
}
.p-select {
  border: 1px solid var(--stroke-color) !important;
  border-radius: var(--radius-sm) !important;
  width: 100%;
}

.p-select-dropdown,
.p-multiselect-dropdown {
  border-radius: 0 var(--radius-sm) var(--radius-sm) 0 !important;
}




