/* heading */
.card-course-one {
  .slider-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .slider-heading {
      font-size: 35px;
      color: #222;
      text-align: center;
      margin-bottom: 20px;
      font-weight: 800;
      line-height: 200%;
      letter-spacing: 0%;
      vertical-align: middle;
    }
  }

  /* splide style */
  .splide-container {
    width: 86%;
    height: 100%;
    padding-bottom: 30px;
  }

  .splide-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* card */
  .card {
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
    width: 90%;

    img {
      width: 100%;
      height: 230px;
      object-fit: cover;
    }

    .card-body {
      padding: 20px;
    }

    .card-title {
      font-weight: 700;
      font-size: 18px;
      line-height: 30px;
      text-align: right;
      margin: 0;
    }

    .card-text {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      text-align: right;
      color: #656b78;
      margin: 10px 0;
      border-bottom: 1px solid #656b78;
    }

    .card-footer {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    .card-name {
      font-weight: 700;
      font-size: 17px;
      letter-spacing: 0%;
      text-align: right;
      
    }
  }

  /* splide buttons */


  .splide__arrow--prev {
    left: -30px;
  }

  .splide__arrow--next {
    right: -30px;
  }

  .course-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #ccc;
  }
}
