/* heading */
.card-course-three {
  .slider-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .slider-heading {
      font-size: 35px;
      color: #222;
      text-align: center;
      margin-bottom: 20px;
      font-weight: 800;
      line-height: 200%;
      letter-spacing: 0%;
      vertical-align: middle;
      font-family: "bold";
    }
  }

  /* splide style */
  .splide-container {
    width: 86%;
    height: 100%;
    padding-bottom: 30px;
  }

  .splide-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* card */
  .card {
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    padding-bottom: 10px;
    width: 90%;
  transition: transform 0.3s ease-in-out;


    img {
      width: 100%;
      height: 230px;
      object-fit: cover;
    }

    .card-body {
      padding: 20px;
    }

    .card-title {
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      text-align: right;
      margin: 0;
      font-family: "bold";
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      height: calc(var(--line-height) * 2em);
      line-height: var(--line-height);
      --line-height: 1.5;
    }

  
    .card-number {
      background: #ffb949;
      width: 100px;
      border-radius: 20px;
      text-align: center;
    }
    .image-container {
      position: relative;
      width: 100%;
      padding: 6px;
    }
    
    .course-image {
      width: 100%;
      height: 230px;
      object-fit: cover;
      background-color: white;
      border-radius: 10px;
    }
    
    .overlay-text {
      position: absolute;
      top: 15%;
      left: 20%;
      transform: translate(-50%, -50%);
      padding: 6px 15px;
      border-radius: 8px;
      background: #ffffff;
      width: 100px;
      border-radius: 20px;
      text-align: center;
      color: #032855;
      font-weight: 800;
      font-size: 14px;
      font-family: "regular";


    }
    .card-content {
      display: flex;
      justify-content: space-between;
    margin: 5px 0px;
    }
    
    .card-text {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0%;
      text-align: right;
      vertical-align: middle;
      color: #656b78;
      font-family: "regular";
      margin: 10px 0;
    }
    .card-text1 {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0%;
      text-align: right;
      vertical-align: middle;
      display: flex;
      gap: 5px;
      font-family: "regular";
    }
    .card-footer {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    .card-name {
      font-weight: 700;
      font-size: 18px;
      letter-spacing: 0%;
      text-align: right;
      font-family: "bold";
    }
  }

  /* splide buttons */

  // .splide__arrow--prev {
  //   left: -60px;
  // }

  // .splide__arrow--next {
  //   right: -10px;
  // }

  .course-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #ccc;
  }
}
