@font-face {
  font-family: "light";
  src: url("@/assets/fonts/alfont_com_Somar-Light.otf") format("truetype");
}

@font-face {
  font-family: "regular";
  src: url("@/assets/fonts/alfont_com_Somar-Regular.otf") format("truetype");
}

@font-face {
  font-family: "medium";
  src: url("@/assets/fonts/alfont_com_Somar-Medium.otf") format("truetype");
}

@font-face {
  font-family: "bold";
  src: url("@/assets/fonts/alfont_com_Somar-Bold.otf") format("truetype");
}