@font-face {
  font-family: "light";
  src: url("@/assets/fonts/Zain-Light.ttf") format("truetype");
}

@font-face {
  font-family: "regular";
  src: url("@/assets/fonts/Zain-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "medium";
  src: url("@/assets/fonts/Zain-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "bold";
  src: url("@/assets/fonts/Zain-ExtraBold.ttf") format("truetype");
}