@layer base, theme, layout, utilities;

@import "./_normalize.scss";
@import "./_fonts.scss";
@import "./_variables.scss";

// Auth
@import "./auth/imports";

//grid system
@import "./grid/grid_system";

//utilities
@import "./utilities/imports";

// Dialogs
@import "./Dialogs/imports";

//Form
@import "./form/imports";

// content
@import "./content/imports";

//Buttons
@import "./buttons/imports";

//Buttons
@import "./table/imports";

//Helpers
@import "./helpers/imports";

// Layout
@import "./layout/imports";

// Courses
@import "./courses/imports";
@import "./cardcourse/imports";

// Home
@import "./home/imports";

// banners
@import "./banners/imports";

// Course Details
@import "./CourseDetails/imports";

// Exam
@import "./Exam/imports";

// profile
@import "./Profile/imports";

// login
@import "./login/imports";

// aboutus
@import "./aboutus/imports";
// aboutus
@import "./panel/imports";

// blogs
@import "./blogs/mian_blogs";

@import "./splider_arrows";

// .card-course-three,
@import "slider/slider";

@import "accordion/accordion";
@import "SpeedDialChatbot/chat_bot";
@import "courses_styles/imports";

@import "./vmStyle";
@import "./hover.min";
@import "./error/error_page";
@import "./paymentverify/payment_verify";

.p-speeddial-button.p-speeddial-rotate {
  width: 75px !important;
  height: 75px !important;
}
.p-button-sm.p-button-icon-only.p-button-rounded {
  width: 3rem;
  height: 3rem;
}
.course-body-details svg path {
  stroke: #8c8896;
}
.p-button-sm .p-button-icon {
  font-size: 20px;
}

.swiper-wrapper {
  ::part(wrapper) {
    display: flex;
    flex-direction: row-reverse !important;
    
  }
}
.video-player-pip {
  position: fixed;
  bottom: 20px; /* Adjust this value to position the player */
  right: 20px; /* Adjust this value to position the player */
  width: 300px; /* Set a fixed width */
  height: auto; /* Height will adjust based on content */
  z-index: 9999; /* Ensure it's above other content */
  border-radius: 10px; /* Optional: rounded corners */
  overflow: hidden; /* Hide overflow if needed */
  resize: horizontal;
  //transition: 0.2s ease-in-out;
}

.video-player {
  position: relative;
  display: flex;
  width: 100% !important; /* Full width of the container */
  height: 100% !important; /* Maintain aspect ratio */
  //transition: 0.2s ease-in-out;
}

.content {
  width: 80%; /* Full width of the container */
  height: 100%; /* Maintain aspect ratio */
  margin: 0 auto;
}

.image_loading {
  width: 100px; /* Set a loading image size */
  height: auto; /* Maintain aspect ratio */
}
.pip-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding: 10px;
}

// .disabled{
//   cursor: not-allowed !important;
//   opacity: 0.5 !important;
//   pointer-events: none !important;
// }

.splide__arrow--next{
  right: -80px;
  border-radius: 50%;
}

.splide__arrow--prev{
  left: -80px;
}

.splide__arrow{
  border-radius: 50%;
}

.social-icons {
  top: 94%;
  left: 4%;
  z-index: 1000;
  position: fixed;
  cursor: pointer;
  .pi {
    font-size: 1.5rem
  }
}

.splide__list{
  display: flex;
  justify-content: end;
}

.slider-heading{
  text-align: center;
  // margin-left: auto;
  // margin-right: auto;
 
}

.p-panel-header{
 width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
