@layer base, theme, layout, utilities;

@import "./_normalize.scss";
@import "./_fonts.scss";
@import "./_variables.scss";

// Auth
@import "./auth/imports";

//grid system
@import "./grid/grid_system";

//utilities
@import "./utilities/imports";

// Dialogs
@import "./Dialogs/imports";

//Form
@import "./form/imports";

// content
@import "./content/imports";

//Buttons
@import "./buttons/imports";

//Buttons
@import "./table/imports";

//Helpers
@import "./helpers/imports";
 
// Layout
@import "./layout/imports";

// Courses
@import "./courses/imports";
@import "./cardcourse/imports";


// Home
@import "./home/imports";

// banners
@import "./banners/imports";

// Course Details
@import "./CourseDetails/imports";

// Exam
@import "./Exam/imports";

// profile
@import "./Profile/imports";

// login
@import "./login/imports";

// aboutus
@import "./aboutus/imports";
// aboutus
@import "./panel/imports";

// blogs
@import "./blogs/mian_blogs";

@import "./splider_arrows";

// .card-course-three,
@import "slider/slider";

@import "accordion/accordion" ;
@import "SpeedDialChatbot/chat_bot" ;


.p-speeddial-button.p-speeddial-rotate{
    width:50px;
    height  :50px;
}

.course-body-details svg path {
  stroke: #8C8896
}
.p-button-sm .p-button-icon{
    font-size: 20px;
}


