.blogs-main-section {
  width: 83%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  font-family: "regular";
  padding-bottom: 30px;
  .swiper-slide {
    margin-left: auto;
  }

  .right-arrow {
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
    @media(max-width:768px){
        display: none;
    }

    svg {
      width: 35px;
      height: 35px;
    }
  }

  .left-arrow {
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
    @media(max-width:768px){
        display: none;
    }

    svg {
      width: 35px;
      height: 35px;
    }
  }
}
